<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Úvodná stránka</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> <!--tento link upravuje vzhlad-->
    <!--<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->

 <style>

      .custom-text {
          color: gray; /*  farba */
          font-family: 'Vaša_obľúbená_písma', sans-serif; /* Nastavenie fontu */
           text-decoration: underline; /* Podčiarknutie */
    font-weight: bold; /* Tučné */
    font-style: italic; /* Šikmý */
    }
    </style> <!--toto upraví písmo nadpisu h1-->
</head>


<body class="bg-info">
<div class="text-center">
<h1 class="custom-text">Vitajte v E-shope s tričkami v 1.0 | Objednávkový systém</h1>
</div>
        <br>
        <br>
<div class="text-center">
    <a href="/registruj-pouzivatela" type="button" class="btn btn-secondary ">Registruj používateľa</a><br><br> <!--pridanie triedy text-center vycentruje tlačidlo v riadku-->
    <a href="/pridaj-objednavku" type="button" class="btn btn-secondary ">Pridaj objednávku</a><br><br>
    <a href="/zobraz-vsetky-objednavky" type="button" class="btn btn-secondary ">Zobraz všetky objednávky</a><br><br>
    <a href="/zobraz-vsetkych-pouzivatelov" type="button" class="btn btn-secondary ">Zobraz všetkých používateľov</a>
</div>


</body>
</html>