<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Úvodná stránka</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> <!--tento link upravuje vzhlad-->
    <!--<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
    <h1>Vitajte v E-shope s tričkami v 1.0 | Objednávkový systém</h1>
    <a href="/registruj-pouzivatela">Registruj používateľa</a><br>
    <a href="/pridaj-objednavku">Pridaj objednávku</a><br>
    <a href="/zobraz-vsetky-objednavky">Zobraz všetky objednávky</a><br>
    <a href="/zobraz-vsetkych-pouzivatelov">Zobraz všetkých používateľov</a>
</body>
</html>