<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pridaj novú objednávku</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> <!--tento link upravuje vzhlad-->
</head>
<body>
<h1>Pridaj novú objednávku</h1>
<form method="POST" th:action="@{/uloz-objednavku}" th:object="${objednavkaObjektThymeleaf}"> <!--aby nepodčiarkovalo th červeným tak upravíme druhý riadok. objednavkaObjektThymeleaf je to isté ako v Controlleri pri pridaj objednávku-->
 <!--<label>origi sa dáva text do label-->
    Popis <input th:field="*{popis}" type="text" /><br /> <!--br znamená že nový atribut bude v novom riadku-->
    Farba <!--<input th:field="*{farba}" type="text" /><br />-->
    <select th:field="*{farba}">
        <option value="Červená">Červená</option>
        <option value="Modrá">Modrá</option>
        <option value="Zelená">Zelená</option>
        <option value="Biela">Biela</option>
        <option value="Fialová">Fialová</option>
        <option value="Čierna">Čierna</option>
        <option value="Hnedá">Hnedá</option>
        <option value="Ružová">Ružová</option>
        <option value="Žltá">Žltá</option>
        <option value="Oranžová">Oranžová</option>
    </select>
    Značka <input th:field="*{znacka}" type="text" /><br />
    Veľkosť
    <select th:field="*{velkost}">
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select><br />

    Počet <input th:field="*{pocet}" type="number" /><br />
    Dátum objednávky <input th:field="*{datumObjednavky}" type="date" /><br />
    Meno zákazníka <input th:field="*{menoZakaznika}" type="text" /><br />
    <input th:field="*{pouzivatel.id}" type="hidden" /><br />
    <button type="submit">Ulož objednávku</button>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>