<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registruj nového používateľa</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> <!--tento link upravuje vzhlad-->
</head>
<body>
<h1>Registruj nového používateľa</h1>
<form method="POST" th:action="@{/uloz-pouzivatela}" th:object="${pouzivatelObjektThymeleaf}"> <!--aby nepodčiarkovalo th červeným tak upravíme druhý riadok. pozivatelObjektThymeleaf je to isté ako v Controlleri pri pridaj objednávku-->
 <!--<label>origi sa dáva text do label-->
    Meno <input th:field="*{meno}" type="text" /><br /> <!--br znamená že nový atribut bude v novom riadku-->
    Priezvisko <input th:field="*{priezvisko}" type="text" /><br />
    Používateľké meno <input th:field="*{username}" type="text" /><br />
    Heslo <input th:field="*{heslo}" type="password" /><br />
    <button type="submit">Ulož registráciu</button>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>