<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Ulož nového používateľa</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> <!--tento link upravuje vzhlad-->
</head>
<body>
<h1>Používateľ bol uložený</h1>
<a href="/" alt="Odkaz na hlavnú stránku">Späť na hlavnú stránku</a>
</body>
</html>
