<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ulož novú objednávku</title>
</head>
<body>
<h1>Objednávka bola uložená</h1>
<a herf="/" alt="Odkaz na hlavnú stranku">Späť na hlavnú stránku</a> &lt;!&ndash;altje pre postihnutých, vie predčítať text&ndash;&gt;
</body>
</html>-->

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Ulož novú objednávku</title>
</head>
<body>
<h1>Objednávka bola uložená</h1>
<a href="/" alt="Odkaz na hlavnú stránku">Späť na hlavnú stránku</a>
</body>
</html>