<!DOCTYPE html>
<html lang="sk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zobraz všetky objednávky</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Popis</th>
        <th>Farba</th>
        <th>Značka</th>
        <th>Veľkosť</th>
        <th>Počet</th>
        <th>Dátum objednávky</th>
        <th>Meno zákazníka</th>
        <th>Akcie</th>

<!--tablehead je th-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="konkretnaObjednavka:${vsetkyObjednavkyThymeleaf}">
        <td th:text="${konkretnaObjednavka.popis}"></td>
        <td th:text="${konkretnaObjednavka.farba}"></td>
        <td th:text="${konkretnaObjednavka.znacka}"></td>
        <td th:text="${konkretnaObjednavka.velkost}"></td>
        <td th:text="${konkretnaObjednavka.pocet}"></td>
        <td th:text="${konkretnaObjednavka.datumObjednavky}"></td>
        <td th:text="${konkretnaObjednavka.menoZakaznika}"></td>
        <td>
            <a th:href="@{/uprav-objednavku/{id}(id=${konkretnaObjednavka.id})}">Uprav objednávku</a>
            <a th:href="@{/odstran-objednavku/{id}(id=${konkretnaObjednavka.id})}">Odstráň objednávku</a>
        </td>
        </tr>
    </tbody>
</table>
<br />
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-secondary " value="Sign Out"/>
</form>
<td><br></td>
<div class="text-center">
    <a href="/" alt="Odkaz na hlavnú stránku" class="btn btn-danger">Späť na hlavnú stránku</a>
</div>
</body>
</html>